  <div layout="column">
    <h2 translate="edgeServerApp.disaster.home.title" align="center">Disasters</h2>
    <md-button class="md-raised md-primary" ui-sref="search">Suchen</md-button>
    <div style="margin-bottom: 5px;"></div>
    <md-button class="md-raised md-primary" ui-sref="give">Bieten</md-button>
    <div class="md-whiteframe-z1" layout="row">
     <md-subheader class="md-no-sticky" flex>Informationen</md-subheader>
     <md-subheader class="md-no-sticky" flex>Pinnwand</md-subheader>
   </div>
 </div>
 <div layout="row">
  <div flex>
    <div class="md-whiteframe-z1">
      <md-list ng-repeat="disaster in disaster">
        <md-list-item class="md-1-line">
          <div class="md-list-item-text">
            <h4>Datum: {{disaster.date}}</h4>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line">
          <div class="md-list-item-text">
           <h4>Art: {{disaster.art}}</h4>
         </div>
       </md-list-item>
       <md-list-item class="md-1-line">
        <div class="md-list-item-text">
          Details: {{disaster.details}}
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div id="map"></div>  
  <div class="md-whiteframe-z1"> 
    <md-list>
      <md-subheader class="md-sticky">TOP TEN</md-subheader>
      <md-list-item class="md-2-line" ng-repeat="item in topList">
        <md-icon md-svg-icon="{{phone.options.icon}}"  ng-class="{'md-avatar-icon': phone.options.avatarIcon}"></md-icon>
        <img ng-src="{{phone.options.face}}?25" class="md-avatar" alt="{{phone.options.face}}"
        ng-if="phone.options.face"/>
        <div class="md-list-item-text">
          <h3> {{ item.name }} </h3>
          <p> {{ item.category }} </p>
        </div>
        <md-button class="md-secondary md-raised md-primary">Bieten</md-button>
      </md-list-item>
    </md-list> 
  </div>
</div>

<div flex layout="column">
  <div class="md-whiteframe-z1 messageDiv" ng-repeat="message in messages" >
<!--                 <md-icon md-svg-icon="{{phone.options.icon}}"  ng-class="{'md-avatar-icon': phone.options.avatarIcon}"></md-icon>
      <img ng-src="{{phone.options.face}}?25" class="md-avatar" alt="{{phone.options.face}}"
      ng-if="phone.options.face"/> -->
      <div>
        <p><u>{{ message.user }}</u> - {{ message.text }}</p>
      </div>

      <div class="answer" layout="row">
        <md-input-container class="md-block" flex>
          <label>Antworten</label>
          <textarea ng-model="message.details" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <md-button class="md-icon-button" ng-click="doSecondaryAction($event)"  aria-label="Send">
          <md-icon md-svg-icon="content/images/plane.svg"></md-icon>
        </md-button>
      </div>

    </div>
  </div>

</div>

