  <div layout="column">
    <h2 style="font-size:5vw" align="center">{{disaster.title}}</h2>
    <md-button class="md-raised md-primary" ui-sref="search">Suchen</md-button>
    <div style="margin-bottom: 5px;"></div>
    <md-button class="md-raised md-primary" ui-sref="give">Bieten</md-button>
    <div class="md-whiteframe-z1" layout="row">
     <md-subheader class="md-no-sticky" flex>Informationen</md-subheader>
     <md-subheader class="md-no-sticky" flex>Pinnwand</md-subheader>
   </div>
 </div>
 <div layout="row">
  <div flex>
    <div class="md-whiteframe-z1">
      <md-list>
        <md-list-item class="md-1-line">
          <div class="md-list-item-text">
            <h5 class="texte">Datum: {{disaster.date}}</h5>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line">
          <div class="md-list-item-text">
           <h5 class="texte">Art: {{disaster.disasterType.name}}</h5>
         </div>
       </md-list-item>
       <md-list-item class="md-1-line">
        <div class="md-list-item-text">
          <p class="texte">Details: {{disaster.description}}</p>
        </div>
      </md-list-item>
      <md-list-item class="md-1-line">
        <div class="md-list-item-text">
          <p class="texte">NGOS: {{disaster.description}}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>

  <div id="controllerMaps" class="btn-group">
    <label class="btn btn-default" ng-model="radioModel" ng-click='topTenMarker()'>Show Top Ten</label>
    <label class="btn btn-default" ng-model="radioModel" ng-click='allMarker()'>Show all Knowledges</label>
  </div>
  <div id="map"></div>


  <div class="md-whiteframe-z1"   >
    <md-virtual-repeat-container style="min-height:200px; max-height:200px;margin:20px;padding:10px">

      <md-list>
        <md-subheader class="md-sticky">Event-Katastrophe(n)</md-subheader>
        <div class="md-list-item-text">
          <h3> {{ knowledge.title }} </h3>
          <p> {{ knowledge.description }} </p>
        </div>

      </md-list-item>
      <md-button class="md-icon-button" ng-click="send($index)"  aria-label="Send">
        <md-icon md-svg-icon="content/images/like.svg"></md-icon>
      </md-button>
    </md-list>

  </md-virtual-repeat-container>
</div>


<div class="md-whiteframe-z1">
  <md-list>
    <md-subheader class="md-sticky">TopTen-Gesuche</md-subheader>
    <md-list-item class="md-2-line" ng-repeat="item in topten" ui-sref="give">
      <div class="md-list-item-text">
        <h3 class="texte"> {{ item.name }} </h3>
      </div>
    </md-list-item>
  </md-list>
</div>
</div>

<div flex layout="column" style="margin:15px">

  <div class="enterDiv" layout="row">
    <md-input-container class="md-block" flex>
      <label>Neuer Eintrag</label>
      <textarea ng-model="message.messageText" rows="5" md-select-on-focus></textarea>
    </md-input-container>
    <md-button class="md-icon-button" ng-click="send()"  aria-label="Send">
      <md-icon md-svg-icon="content/images/plane.svg"></md-icon>
    </md-button>
  </div>

  <div class="md-whiteframe-z1 messageDiv" ng-repeat="message in messages">
    <p>
      <u>{{ message.messageUser }}</u> - {{ message.messageText }}
    </p>
  </div>

</div>

</div>

