<div layout="column" ng-show="offers.length==0">
  <h1 class="texte">Sie haben keine Gesuche</h1>
</div>

<div layout="column" ng-show="offers.length!=0">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Ihre Angebote:</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>


  <div class="md-whiteframe-z1">
    <table class="friends">
      <tr>
       <th>
         <div class="md-no-sticky tabellen" flex>Disaster</div>
       </th>
       <th>
        <div class="md-no-sticky" flex>Items</div>
      </th>
      <th>
        <div class="md-no-sticky tabellen" flex>Datum</div>
      </th>
      <th></th>
    </tr>
    <tr ng-repeat="offer in offers | orderBy:propertyName:reverse | filter:filters" ng-click="pushToArray(offer)">
      <td >{{offer.disaster.title}}</td>
      <td>
        <div ng-repeat="offery in offer.actionObjects">{{offery.name}}</div>
      </td>
      <td class="tabellen">{{offer.disaster.date}}</td>
      <td>
        <md-button class="md-icon-button" ng-click="delFromArray(offer)" aria-label="call">
          <md-icon md-svg-icon="content/images/clear.svg"></md-icon>
        </md-button>
      </td>
    </tr>
  </table>
</div>

<div class="md-whiteframe-z1">
  <md-subheader class="md-no-sticky" >Möchten sie das Gebiet ihres Gesuchs ändern?</md-subheader>
  <div id=map></div>
</div>

<div class="md-whiteframe-z1" layout="column">
  <md-button class="md-raised" ng-show="selectedItem!=null" ng-click="writeDB()" >Speichern</md-button>
</div>

</div>


