
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAreaLabel" translate="edgeServerApp.area.home.createOrEditLabel">Create or edit a Area</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.area.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.area.id" readonly />
        </div>

        <div class="form-group">
            <label translate="edgeServerApp.area.ngo" for="field_ngo">Ngo</label>
            <select class="form-control" id="field_ngo" name="ngo" ng-model="vm.area.ngo" ng-options="ngo as ngo.id for ngo in vm.ngos | orderBy:'id' track by ngo.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="edgeServerApp.area.disaster" for="field_disaster">Disaster</label>
            <select class="form-control" id="field_disaster" name="disaster" ng-model="vm.area.disaster" ng-options="disaster as disaster.id for disaster in vm.disasters track by disaster.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
