<md-toolbar>
  <div class="md-toolbar-tools">
  <h2><span>Your Matches</span></h2>
    <span flex></span>
    <md-button ng-disabled="true" class="md-icon-button" style="background-color: rgba(15, 15, 15, 0.4); border-radius: 50%; color: white;">
      <span>{{ conversation.length }}</span>
    </md-button>
  </div>
</md-toolbar>

<jhi-alert></jhi-alert>

<div class="md-whiteframe-3dp">
  <md-list flex style="padding:0px">
    <md-list-item class="md-2-line" ng-repeat="conversation in conversation" layout="row" ng-click="showCon($index)">
      <!--   <img ng-src={{conversation.other.avatar}} class="md-avatar" alt="{{conversation.other.username}}" /> -->
      <div class="md-list-item-text">
        <h3 style="margin:50px;padding:10px">Match mit {{conversation.id}}</h3>

        <div ng-show="this['selectedItem_' + $index]" >
          <md-virtual-repeat-container style="min-height:500px; max-height:500px;margin:20px;padding:10px">


            <md-grid-list ng-repeat="message in conversation.messages" md-cols-xs="1" md-cols-sm="1" md-cols-md="8" md-cols-gt-md="8" md-row-height-gt-md="fit" md-row-height="fit" md-gutter="50px" md-gutter-gt-sm="100px" style="height:100px;">

             <md-grid-tile md-rowspan="0" md-colspan="4" md-colspan-sm="0" md-colspan-xs="0" ng-if="message.user==1">
             </md-grid-tile>

             <md-grid-tile style="background-color:lightblue;text-align:right;" class="gray" md-rowspan="2" md-colspan="4"  md-rowspan-sm="100%" md-colspan-sm="1" md-colspan-xs="1"  md-rowspan-xs="100%" ng-if="message.user==1" layout="row">

              <div layout="column" style="margin:15px" flex>
                <div> 
                  <h7><p >{{  message.user }} - {{  message.date }}</p></h7>
                </div>
                <div> 
                  <h7><p>{{  message.messageText}}</p></h7>
                </div>
              </div> 

            </md-grid-tile>


            <md-grid-tile style="background-color:lightgreen" class="gray" md-rowspan="2" md-colspan="4" md-colspan-sm="1" md-colspan-xs="1"  md-rowspan-xs="100%"  md-rowspan-sm="100%" ng-if="message.user==2">

              <div layout="column" style="margin:15px" flex>
                <div> 
                  <h7 style="font-size:1.5vw"><p>{{  message.user }} - {{  message.date }}</p></h7>
                </div>
                <div> 
                  <h7 style="font-size:1.5vw"><p>{{  message.messageText}}</p></h7>
                </div>
              </div>  

            </md-grid-tile>
            <md-grid-tile md-rowspan="0" md-colspan="4" md-colspan-sm="0" md-colspan-xs="0" ng-if="message.user==2" >
            </md-grid-tile>
            <div style="margin-bottom: 5px;"></div>
          </md-grid-list>


        </md-virtual-repeat-container>

        <div layout="row" style="padding-top:50px">
          <md-input-container class="md-block" flex>
            <label>Antworten</label>
            <textarea ng-model="message.details"  md-maxlength="65" rows="5" md-select-on-focus></textarea>
          </md-input-container>
          <md-button class="md-icon-button" ng-click="send($index)"  aria-label="Send">
            <md-icon md-svg-icon="content/images/plane.svg"></md-icon>
          </md-button>
        </div>

      </div>
    </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list>
</div>

