
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myActionLabel" translate="edgeServerApp.action.home.createOrEditLabel">Create or edit a Action</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.action.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.action.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="edgeServerApp.action.lat" for="field_lat">Lat</label>
            <input type="number" class="form-control" name="lat" id="field_lat"
                    ng-model="vm.action.lat"
                    required />
            <div ng-show="editForm.lat.$invalid">
                <p class="help-block"
                    ng-show="editForm.lat.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lat.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="edgeServerApp.action.lon" for="field_lon">Lon</label>
            <input type="number" class="form-control" name="lon" id="field_lon"
                    ng-model="vm.action.lon"
                    required />
            <div ng-show="editForm.lon.$invalid">
                <p class="help-block"
                    ng-show="editForm.lon.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lon.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="edgeServerApp.action.isExpired" for="field_isExpired">Is Expired</label>
            <input type="checkbox" class="form-control" name="isExpired" id="field_isExpired"
                    ng-model="vm.action.isExpired"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="edgeServerApp.action.actionType" for="field_actionType">Action Type</label>
            <select class="form-control" name="actionType" ng-model="vm.action.actionType" id="field_actionType" required>
                <option value="OFFER" translate="edgeServerApp.ActionType.OFFER">OFFER</option>
                <option value="SEEK" translate="edgeServerApp.ActionType.SEEK">SEEK</option>
                <option value="KNOWLEDGE" translate="edgeServerApp.ActionType.KNOWLEDGE">KNOWLEDGE</option>
            </select>
            <div ng-show="editForm.actionType.$invalid">
                <p class="help-block"
                    ng-show="editForm.actionType.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="edgeServerApp.action.disaster" for="field_disaster">Disaster</label>
            <select class="form-control" id="field_disaster" name="disaster" ng-model="vm.action.disaster" ng-options="disaster as disaster.id for disaster in vm.disasters track by disaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="edgeServerApp.action.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.action.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="edgeServerApp.action.actionObject" for="field_actionObject">Action Object</label>
            <select class="form-control" id="field_actionObject" multiple name="actionObject" ng-model="vm.action.actionObjects" ng-options="actionObject as actionObject.id for actionObject in vm.actionobjects track by actionObject.id"></select>
        </div>
        <div class="form-group">
            <label translate="edgeServerApp.action.match" for="field_match">Match</label>
            <select class="form-control" id="field_match" name="match" ng-model="vm.action.match" ng-options="action as action.id for action in vm.matches | orderBy:'id' track by action.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="edgeServerApp.action.rejectedMatches" for="field_rejectedMatches">Rejected Matches</label>
            <select class="form-control" id="field_rejectedMatches" multiple name="rejectedMatches" ng-model="vm.action.rejectedMatches" ng-options="action as action.id for action in vm.actions track by action.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
